:root {
  --primary-fonf: 'Roboto', 'Open Sans', sans-serif;
  --secodary-font: 'Raleway', 'Open Sans', sans-serif;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --fotter-background-color: #2f303a;
  --primary-font-color: #757575;
  --secondary-font-color: #212121;
  --third-font-color: #ffffff;
  --primary-filter-btn-color: ;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-filter-btn-color: #f5f4fa;
  --fotter-font-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--primary-fonf);
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.medium-tittle {
  font-family: var(--primary-fonf);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
.small-tittle {
  font-family: var(--primary-fonf);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.text {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.logo {
  font-family: var(--secodary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-accent-color {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* ------- HERO -------*/

.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-font-color);
}

.modal-btn {
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* --------- OUR BENEFITS --------- */

.benefits-item {
}

.benefits-text {
}

/* --------- WHAT ARE WE DOING --------- */

.doing {
}

.doing-list {
}

.doing-item-img {
}
/* --------- OUR_TEAM --------- */

.team-tittle {
}

.team-list {
}

.team-foto {
}

.team-name {
}

.team-text {
}
/* ------- FOTTER ------- */

.address-map {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--third-font-color);
}

.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--fotter-font-color);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.address-list {
}

.address-item {
}

/* ================== PORTFOLIO ================= */

/* ------------ FILTER ------------ */

.filter-list {
}

.filter-item {
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  background: var(--secondary-background-color);
  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-font-color);
}

/* -------------- PORTFOLIO ------------- */

.portfolio-list {
}

.portfolio-item {
}

.portfolio-img {
}

.portfolio-tittle {
}

.portfolio-text {
}
